// 主题色
.main-color {
    color: var(--main-color);
}

// 顶部固定定位
.fixedTab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: #fff;
}

// 按钮背景颜色
.btn-primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}

// 没有头像时，默认显示图片
.avatar-default {
    background-image: url('~@/static/logo.png');

}
