// 主题色
.main-color {
    color: var(--main-color);
}




// 顶部固定定位
.fixedTab {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: #fff;
}

// 按钮背景颜色
.btn-primary {
    color: #fff;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
// 底部按钮宽度
.wth-btn {
    width: 30%;
}
// 底部按钮固定，安全区域
.btn-fixed-bottom {
    padding-bottom: 10px;
    position: fixed;
    bottom: env(safe-area-inset-bottom);
    left: 0;
    right: 0;
    z-index: 200;
    width: 100%;
}

// 划卡按钮
.card-btn {
    padding-top: 7rpx;
    padding-bottom: 7rpx;
    width: 120rpx;
}

// 没有头像时，默认显示图片
.avatar-default {
    background-image: url('~@/static/logo.png');

}

// 自定义导航栏
.navbar{
    height: 44px;
    text{
        font-size: 16px;
        line-height: 44px;
        color: #FFFFFF;
    }
}
